main ul {
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 0fr));
    gap: 20px;
    width: auto;
}